@font-face {
  font-family: "PlayfairDisplay-Italic";
  src: url("../fonts/Source_Serif_Pro/SourceSerifPro-LightItalic.ttf");
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("Fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix") format("embedded-opentype"),
  url("../fonts/by0u1mbQP6Zw.woff") format("woff"),
  url("../fonts/NfKLiev3sbhm.ttf") format("truetype"),
  url("Fonts/da09f1f1-062a-45af-86e1-2bbdb3dd94f9.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg");
}

@font-face {
  font-family: "Helvetica Neue Thin";
  font-weight: 200;
  src: url("Fonts/56be84de-9d60-4089-8df0-0ea6ec786b84.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Mx18xcytlIC0.woff") format("woff"),
  url("../fonts/Ub3v6H3q1qXH.ttf") format("truetype"),
  url("Fonts/2e309b1b-08b8-477f-bc9e-7067cf0af0b3.svg#2e309b1b-08b8-477f-bc9e-7067cf0af0b3") format("svg");
}

@font-face {
  font-family: "Helvetica Neue Medium";
  font-weight: bold;
  src: url("Fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot??#iefix") format("embedded-opentype"),
  url("../fonts/tH9OGgwYm2kd.woff") format("woff"),
  url("../fonts/AOqUqzGEfM41.ttf") format("truetype"),
  url("Fonts/36c182c6-ef98-4021-9b0d-d63122c2bbf5.svg#36c182c6-ef98-4021-9b0d-d63122c2bbf5") format("svg");
}

/* Kwazimodo temporary studio fonts */

@font-face{
  font-family:"Helvetica Neue Ultralight";
  src:url("Fonts/072d8516-5d40-44bc-b694-65b3c8bd8fa5.eot?#iefix");
  src:url("Fonts/072d8516-5d40-44bc-b694-65b3c8bd8fa5.eot?#iefix") format("eot"),
  url("../fonts/RHoFAfnl8rIA.woff") format("woff"),
  url("../fonts/KDpWyGn6ghrC.ttf") format("truetype"),
  url("Fonts/6be38bc3-96b3-47e3-a9ef-e1a184b54d64.svg#6be38bc3-96b3-47e3-a9ef-e1a184b54d64") format("svg");
}

@font-face {
  font-family: "Helvetica Neue Italic";
  font-style: italic;
  src: url("Fonts/58a5cbff-d570-4c18-a5e3-60868dc07ae8.eot?#iefix") format("embedded-opentype"),
  url("../fonts/pt9EbpL3IqzZ.woff") format("woff"),
  url("../fonts/Vmby1hCbK2En.ttf") format("truetype"),
  url("Fonts/d0697971-6f58-4597-942e-8beabd1adc87.svg#d0697971-6f58-4597-942e-8beabd1adc87") format("svg");
}

@font-face{
  font-family:"Helvetica Neue Light";
  src:url("Fonts/88fcd49a-13c7-4d0c-86b1-ad1e258bd75d.eot?#iefix");
  src:url("Fonts/88fcd49a-13c7-4d0c-86b1-ad1e258bd75d.eot?#iefix") format("eot"),
  url("../fonts/C8GOW6q8Tfys.woff") format("woff"),
  url("../fonts/LRhA27yok4J8.ttf") format("truetype"),
  url("Fonts/48d599a6-92b5-4d43-a4ac-8959f6971853.svg#48d599a6-92b5-4d43-a4ac-8959f6971853") format("svg");
}

@font-face{
  font-family:"Helvetica Neue Bold";
  src:url("Fonts/db853e0e-929b-4272-b420-c946c954cf3a.eot?#iefix");
  src:url("Fonts/db853e0e-929b-4272-b420-c946c954cf3a.eot?#iefix") format("eot"),
  url("../fonts/pURVdeSsjZFK.woff") format("woff"),
  url("../fonts/GPjc4WNtZUvZ.ttf") format("truetype"),
  url("Fonts/25e09910-ffc3-4fc4-b0d1-db9a95dface8.svg#25e09910-ffc3-4fc4-b0d1-db9a95dface8") format("svg");
}

@font-face{
  font-family:"Helvetica Neue Black";
  src:url("Fonts/c8ec8ade-129c-47df-86b4-f9f1cd69ac15.eot?#iefix");
  src:url("Fonts/c8ec8ade-129c-47df-86b4-f9f1cd69ac15.eot?#iefix") format("eot"),
  url("../fonts/tRNDRjV7AMzp.woff") format("woff"),
  url("../fonts/Ck7HX5Ic0dpJ.ttf") format("truetype"),
  url("Fonts/c486d95f-f220-435d-8a83-5d9497f04c49.svg#c486d95f-f220-435d-8a83-5d9497f04c49") format("svg");
}

/* New Studio fonts */

@font-face{
  font-family:"HelveticaNeueW01-UltLt";
  src:url("Fonts/41774233-b9da-44be-b252-6a7b612fb1c7.eot?#iefix");
  src:url("Fonts/41774233-b9da-44be-b252-6a7b612fb1c7.eot?#iefix") format("eot"),url("../fonts/6cxKz6CF7skh.woff") format("woff"),url("../fonts/53KyYQmzocj8.ttf") format("truetype"),url("Fonts/d9f2752a-8d82-4cf1-b82f-109c1105be7f.svg#d9f2752a-8d82-4cf1-b82f-109c1105be7f") format("svg");
}

@font-face{
  font-family:"HelveticaNeueW01-Thin";
  src:url("Fonts/56be84de-9d60-4089-8df0-0ea6ec786b84.eot?#iefix");
  src:url("Fonts/56be84de-9d60-4089-8df0-0ea6ec786b84.eot?#iefix") format("eot"),url("../fonts/Mx18xcytlIC0.woff") format("woff"),url("../fonts/Ub3v6H3q1qXH.ttf") format("truetype"),url("Fonts/2e309b1b-08b8-477f-bc9e-7067cf0af0b3.svg#2e309b1b-08b8-477f-bc9e-7067cf0af0b3") format("svg");
}

@font-face{
  font-family:"HelveticaNeueW02-UltLt";
  src:url("Fonts/787ee748-9cce-45a0-910b-6b5c6e87e327.eot?#iefix");
  src:url("Fonts/787ee748-9cce-45a0-910b-6b5c6e87e327.eot?#iefix") format("eot"),url("../fonts/oMNBcnnnGkgs.woff") format("woff"),url("../fonts/aSbrf5r4WaQV.ttf") format("truetype"),url("Fonts/6dfe33a4-0ad5-4c85-8e01-f48ecfe3c167.svg#6dfe33a4-0ad5-4c85-8e01-f48ecfe3c167") format("svg");
}

@font-face{
  font-family:"HelveticaNeueW02-Thin";
  src:url("Fonts/30b6ffc3-3b64-40dd-9ff8-a3a850daf535.eot?#iefix");
  src:url("Fonts/30b6ffc3-3b64-40dd-9ff8-a3a850daf535.eot?#iefix") format("eot"),url("../fonts/JKiaVcm4siMj.woff") format("woff"),url("../fonts/oBPNOzwdoaMS.ttf") format("truetype"),url("Fonts/3503a1a6-91c3-4c42-8e66-2ea7b2b57541.svg#3503a1a6-91c3-4c42-8e66-2ea7b2b57541") format("svg");
}

@font-face{
  font-family:"HelveticaNeueW01-45Ligh";
  src:url("Fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix");
  src:url("Fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix") format("eot"),url("../fonts/pWEBZtnotFzI.woff") format("woff"),url("../fonts/eRh2TptHgIdy.ttf") format("truetype"),url("Fonts/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
}

@font-face{
  font-family:"HelveticaNeueW01-55Roma";
  src:url("Fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix");
  src:url("Fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix") format("eot"),url("../fonts/by0u1mbQP6Zw.woff") format("woff"),url("../fonts/NfKLiev3sbhm.ttf") format("truetype"),url("Fonts/da09f1f1-062a-45af-86e1-2bbdb3dd94f9.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg");
}

@font-face{
  font-family:"HelveticaNeueW01-65Medi";
  font-weight: bold;
  src:url("Fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix");
  src:url("Fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix") format("eot"),url("../fonts/tH9OGgwYm2kd.woff") format("woff"),url("../fonts/AOqUqzGEfM41.ttf") format("truetype"),url("Fonts/36c182c6-ef98-4021-9b0d-d63122c2bbf5.svg#36c182c6-ef98-4021-9b0d-d63122c2bbf5") format("svg");
}

@font-face{
  font-family:"HelveticaNeueW01-75Bold";
  src:url("Fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix");
  src:url("Fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix") format("eot"),url("../fonts/mVJp1a8z5N8k.woff") format("woff"),url("../fonts/aLGIn3bhRhdV.ttf") format("truetype"),url("Fonts/f751c8ae-1057-46d9-8d74-62592e002568.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
}

@font-face{
  font-family:"HelveticaNeueW01-95Blac";
  src:url("Fonts/b26ccb58-f2e3-47aa-a83a-02861bf54862.eot?#iefix");
  src:url("Fonts/b26ccb58-f2e3-47aa-a83a-02861bf54862.eot?#iefix") format("eot"),url("../fonts/9A07uBebyC0H.woff") format("woff"),url("../fonts/6Xxztmx6KIov.ttf") format("truetype"),url("Fonts/2e490192-e531-4236-9c55-90daaad4a34e.svg#2e490192-e531-4236-9c55-90daaad4a34e") format("svg");
}

@font-face{
  font-family:"HelveticaNeueW02-45Ligh";
  src:url("Fonts/88fcd49a-13c7-4d0c-86b1-ad1e258bd75d.eot?#iefix");
  src:url("Fonts/88fcd49a-13c7-4d0c-86b1-ad1e258bd75d.eot?#iefix") format("eot"),url("../fonts/C8GOW6q8Tfys.woff") format("woff"),url("../fonts/LRhA27yok4J8.ttf") format("truetype"),url("Fonts/48d599a6-92b5-4d43-a4ac-8959f6971853.svg#48d599a6-92b5-4d43-a4ac-8959f6971853") format("svg");
}

@font-face{
  font-family:"HelveticaNeueW02-55Roma";
  src:url("Fonts/0b3a3fca-0fad-402b-bd38-fdcbad1ef776.eot?#iefix");
  src:url("Fonts/0b3a3fca-0fad-402b-bd38-fdcbad1ef776.eot?#iefix") format("eot"),url("../fonts/bj8gBcShjdZe.woff") format("woff"),url("../fonts/9GkJp5NG0IOT.ttf") format("truetype"),url("Fonts/b68875cb-14a9-472e-8177-0247605124d7.svg#b68875cb-14a9-472e-8177-0247605124d7") format("svg");
}

@font-face{
  font-family:"HelveticaNeueW02-65Medi";
  font-weight: bold;
  src:url("Fonts/55f60419-09c3-42bd-b81f-1983ff093852.eot?#iefix");
  src:url("Fonts/55f60419-09c3-42bd-b81f-1983ff093852.eot?#iefix") format("eot"),url("../fonts/WnlDLDrPeD4g.woff") format("woff"),url("../fonts/fdAJK1C88Td1.ttf") format("truetype"),url("Fonts/58ab5075-53ea-46e6-9783-cbb335665f88.svg#58ab5075-53ea-46e6-9783-cbb335665f88") format("svg");
}

@font-face{
  font-family:"HelveticaNeueW02-75Bold";
  src:url("Fonts/db853e0e-929b-4272-b420-c946c954cf3a.eot?#iefix");
  src:url("Fonts/db853e0e-929b-4272-b420-c946c954cf3a.eot?#iefix") format("eot"),url("../fonts/pURVdeSsjZFK.woff") format("woff"),url("../fonts/GPjc4WNtZUvZ.ttf") format("truetype"),url("Fonts/25e09910-ffc3-4fc4-b0d1-db9a95dface8.svg#25e09910-ffc3-4fc4-b0d1-db9a95dface8") format("svg");
}

@font-face{
  font-family:"HelveticaNeueW02-95Blac";
  src:url("Fonts/c8ec8ade-129c-47df-86b4-f9f1cd69ac15.eot?#iefix");
  src:url("Fonts/c8ec8ade-129c-47df-86b4-f9f1cd69ac15.eot?#iefix") format("eot"),url("../fonts/tRNDRjV7AMzp.woff") format("woff"),url("../fonts/Ck7HX5Ic0dpJ.ttf") format("truetype"),url("Fonts/c486d95f-f220-435d-8a83-5d9497f04c49.svg#c486d95f-f220-435d-8a83-5d9497f04c49") format("svg");
}

@font-face{
  font-family:"HelveticaNeueW10-45Ligh";
  src:url("Fonts/5b85c7cc-6ad4-4226-83f5-9d19e2974123.eot?#iefix");
  src:url("Fonts/5b85c7cc-6ad4-4226-83f5-9d19e2974123.eot?#iefix") format("eot"),url("../fonts/kxd5z6nQ8n5M.woff") format("woff"),url("../fonts/PMmPWHPuImAT.ttf") format("truetype"),url("Fonts/3fc84193-a13f-4fe8-87f7-238748a4ac54.svg#3fc84193-a13f-4fe8-87f7-238748a4ac54") format("svg");
}

@font-face{
  font-family:"HelveticaNeueW10-65Medi";
  font-weight: bold;
  src:url("Fonts/7092fdcc-7036-48ce-ae23-cfbc9be2e3b0.eot?#iefix");
  src:url("Fonts/7092fdcc-7036-48ce-ae23-cfbc9be2e3b0.eot?#iefix") format("eot"),url("../fonts/mnBheurmxe4V.woff") format("woff"),url("../fonts/Hc14PchWtKDD.ttf") format("truetype"),url("Fonts/ae1dea8c-a953-4845-b616-74a257ba72e6.svg#ae1dea8c-a953-4845-b616-74a257ba72e6") format("svg");
}

@font-face{
  font-family:"HelveticaNeueW10-75Bold";
  src:url("Fonts/41fb73ed-90c8-456d-838e-254f4dfda106.eot?#iefix");
  src:url("Fonts/41fb73ed-90c8-456d-838e-254f4dfda106.eot?#iefix") format("eot"),url("../fonts/ckQB90VL2td3.woff") format("woff"),url("../fonts/V7X8Hon2WVL2.ttf") format("truetype"),url("Fonts/1376b116-8954-4534-8045-eabe8e2fcaa4.svg#1376b116-8954-4534-8045-eabe8e2fcaa4") format("svg");
}

@font-face{
  font-family:"HelveticaNeueW10-95Blac";
  src:url("Fonts/35f91c73-f2f1-4dd3-83ee-3649dc7ff4ed.eot?#iefix");
  src:url("Fonts/35f91c73-f2f1-4dd3-83ee-3649dc7ff4ed.eot?#iefix") format("eot"),url("../fonts/u1Cxd7gaj73u.woff") format("woff"),url("../fonts/shBJuDZK0Wl2.ttf") format("truetype"),url("Fonts/3af50121-f334-4e73-b155-b105e0029509.svg#3af50121-f334-4e73-b155-b105e0029509") format("svg");
}

@font-face{
  font-family:"HelveticaNeueW10-35Thin";
  src:url("Fonts/93b6bf6a-418e-4a8f-8f79-cb9c99ef3e32.eot?#iefix");
  src:url("Fonts/93b6bf6a-418e-4a8f-8f79-cb9c99ef3e32.eot?#iefix") format("eot"),url("../fonts/wLWOlNRs0vxk.woff") format("woff"),url("../fonts/sCgy7Zs21y9q.ttf") format("truetype"),url("Fonts/1bc99c0a-298b-46f9-b325-18b5e5169795.svg#1bc99c0a-298b-46f9-b325-18b5e5169795") format("svg");
}

@font-face{
  font-family:"HelveticaNeueW10-25UltL";
  src:url("Fonts/072d8516-5d40-44bc-b694-65b3c8bd8fa5.eot?#iefix");
  src:url("Fonts/072d8516-5d40-44bc-b694-65b3c8bd8fa5.eot?#iefix") format("eot"),url("../fonts/RHoFAfnl8rIA.woff") format("woff"),url("../fonts/KDpWyGn6ghrC.ttf") format("truetype"),url("Fonts/6be38bc3-96b3-47e3-a9ef-e1a184b54d64.svg#6be38bc3-96b3-47e3-a9ef-e1a184b54d64") format("svg");
}

@font-face{
  font-family:"HelveticaNeueW10-55Roma";
  src:url("Fonts/f1feaed7-6bce-400a-a07e-a893ae43a680.eot?#iefix");
  src:url("Fonts/f1feaed7-6bce-400a-a07e-a893ae43a680.eot?#iefix") format("eot"),url("../fonts/hzWTmxtxcFna.woff") format("woff"),url("../fonts/Pxlkhgi4J7tq.ttf") format("truetype"),url("Fonts/df234d87-eada-4058-aa80-5871e7fbe1c3.svg#df234d87-eada-4058-aa80-5871e7fbe1c3") format("svg");
}




article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

html, body {
  scroll-behavior: auto;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: block;
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: none;
  background: #f0f0f0;
  line-height: 1;
}

a {
  cursor: pointer;
}

img {
  margin-top: 1px;
  width: 190px;
}

@media (max-width: 768px) {
  body {
    width: 100%;
    height: auto;
  }
}

/* Navbar configuration */

@media (max-width: 768px) {
  .navbar-collapse {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    padding-top: 0.5rem;
    background-color: #f8f9fa;
  }

  .navbar-nav {
    display: block;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-item {
    width: 100%;
    text-align: left;
    display: block;
  }

  .navbar-toggler {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  .navbar-brand,
  .navbar-nav .nav-link {
    display: block;
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'PlayfairDisplay-Italic', sans-serif;
    word-spacing: 2px;
    margin-left: 10px;
  }

  .navbar-nav .nav-link {
    display: flex;
    display: inline-block;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 40px;
  }

  .navbar-nav .nav-link:hover {
    color: #ff0000;
  }

  .navbar-nav .nav-item {
    margin-left: 12px;
  }
}

/* Navbar configuration normal screen */

.navbar {
  display: flex;
  position: relative;
  width: 100%;
  height: 70px;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'PlayfairDisplay-Italic', sans-serif;
  word-spacing: 2px;
  margin-left: 10px;
}

.navbar-brand img {
  margin-top: -1px;
}

.navbar-brand:hover {
  color: #fff;
}

.navbar-nav .nav-link {
  display: block;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 30px;
}

.navbar-nav .nav-link:hover {
  color: #ff0000;
}

.navbar-nav .nav-item {
  margin-left: 12px;
}

/* Banner */

.banner-image {
  width: 1900px; 
  height: 598px; 
  object-fit: cover; 
  object-position: 50% 50%;
}

@media screen and (max-width: 768px) {
  .banner-image {
    padding-top: 11px;
    width: 1288px;
    height: 389px;
    object-fit: cover;
    margin-left: 400px;
    margin-right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 600px) {
  .banner-image {
    padding-top: 11px;
    width: 100%;
    height: 289px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 468px) {
  .banner-image {
    padding-top: 11px;
    width: 100%;
    height: 289px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

  /* Sobre nós */
  
  .sbn {
    display: block;
    margin-top: 30px;
    margin-left: 140px;
    margin-bottom: 0;
  }
  
  .box-style {
    width: 280px;
    height: 139px;
    background-color: #a00000;
    margin-left: 90px;
  }
  
  .img-fx img {
    width: 292px;
    height: 195px;
    margin-bottom: -42px;
    margin-left: 49px;
    object-fit: cover;
    position: static;
  }
  
  .img-ft img {
    width: 292px;
    height: 195px;
    margin-top: -42px;
    margin-left: 143px;
    object-fit: cover;
    position: relative;
  }
  
  .conteudo {
    width: 57%;
    height: 340px;
    margin-left: 500px;
    margin-top: -402px;
  }
  
  .conteudo p {
    font-size: 17px;
    text-align: justify;
    width: 80%;
    margin-left: 70px;
  }
  
  @media screen and (max-width: 468px) {
    .box-style {
      width: 240px;
      height: 120px;
      margin-left: 30px;
    }
  
    .img-ft img {
      margin-left: 83px;
    }
  
    .conteudo {
      width: 80%;
      margin-left: 30px;
    }
  
    .conteudo p {
      margin-left: 20px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .sbn {
      margin-top: 40px;
      margin-left: -140px;
      margin-bottom: 40px;
    }
    
    .box-style {
      width: 320px;
      height: 160px;
      margin-left: -130px;
    }
  
    .img-fx img {
      margin-left: -563px;
      width: 190px;
      padding-top: 60px;
    }
  
    .img-ft img {
      margin-left: 83px;
      width: 190px;
      padding-bottom: 70px;
    }
  
    .conteudo {
      width: 80%;
      margin-left: 30px;
    }
  
    .conteudo p {
      margin-left: 20px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .sbn {
      margin-top: 40px;
      margin-left: -440px;
      margin-bottom: 40px;
    }
  
    .box-style {
      width: 203px;
      height: 100px;
      margin-left: 580px;
    } 
  
    .img-fx img {
      margin-left: 563px;
      width: 190px;
      padding-top: 60px;
    }
  
    .img-ft img {
      margin-left: 83px;
      width: 190px;
      padding-bottom: 70px;
    }
  
    .conteudo {
      width: 80%;
      margin-left: 30px;
    }
  
    .conteudo p {
      margin-left: 20px;
      color: gray;
    }
  }
  